.blog-home-midsec {
  display: flex;
  gap: 20px;
}

.blog-home-midsec-posts {
  flex: 3;
}

.blog-home-midsec-months {
  flex: 1;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .blog-home-midsec {
    flex-direction: column;
  }

  .blog-home-midsec-months {
    margin-top: 0px;
  }
}
