.blog-hero-post-container {
  padding: 30px;
  background-color: #383838;
  border-radius: 5px;
}

.bg-hp-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.blog-hp-title {
  color: #ffffff;
  font-style: italic;
}

.blog-hp-desp {
  color: #ffffff;
  font-size: 1rem;
}

.blog-hp-details,
.blog-hp-details:hover,
.blog-hp-details:focus {
  text-decoration: none;
  font-weight: 600;
}

.blog-hp-details p {
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .bg-hp-card {
    width: 100%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1240px) {
  .bg-hp-card {
    width: 100%;
  }
}
