.blog-category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  gap: 20px;
}

@media screen and (max-width: 500px) {
  .blog-category-grid {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}
