footer {
  font-size: 14px;
  font-weight: 700;
  color: #a9a9a9;
  padding: 20px 0;
  border-top: 2px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  /* position: relative;
  bottom: 0;
  width: 100%; */
}

.text-blue {
  color: #3457d5;
}
